.card{
  position: relative;
  border: 1px solid var(--app-dark-gray);
  overflow: hidden;
  border-radius: 5px;
  cursor: zoom-in;
}

.card__img {
  image-rendering: pixelated;
  width: 100%;
}

.card__name {
  padding: 0.2rem 0.5rem;
  background: var(--app-gray);
  margin: 0;
  font-weight: 700;
  font-size: var(--app-fs);
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid var(--app-dark-gray);
}

.card__btn {
  position: absolute;
  margin: 0.2rem;
  top: 0;
  right: 0;
}

@media(min-width: 577px) {
  .card__img {
    min-height: 12rem;
  }
}
