<div class="card">
  <img
    class="card__img"
    src="{{pokemon.imageUrl}}"
    alt="{{pokemon.name}}"/>
  <p class="card__name">{{pokemon.name}}</p>
  <div class="card__btn">
    <div *ngIf="pokemon.isFavorite; else noFavorite">
      <i class="favorite material-icons" (click)="deleteFavorite($event,pokemon.url)">
        star
      </i>
    </div>
    <ng-template #noFavorite>
      <i class="material-icons" (click)="makeFavorite($event,pokemon.url)">
        star_border
      </i>
    </ng-template>
  </div>
</div>
