.navbar {
  padding: 0.5rem;
  background-color: var(--nav-gray);
}

.navbar__links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar__link {
  text-decoration: none;
  font-weight: 700;
  color: var(--app-fs);
}

.brand-link {
  font-weight: 300;
  font-size: var(--app-btn-fs);
}

.search-box {
  padding-left: 1rem;
  height: 2.5rem;
  border: 1px solid var(--app-dark-gray);
  border-radius: 5px;
  width: 100%;
  margin: 0.5rem 0;
}


@media (min-width: 577px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-box {
    width: auto;
  }
}
