nav {
  padding: 0.5rem;
  background-color: var(--nav-gray);
}

.nav__links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.brand-link {
  font-weight: 300;
  font-size: 1.5rem;
}

.search-box {
  padding-left: 1rem;
  height: 2.5rem;
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.5rem 0;
}


@media (min-width: 500px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-box {
    width: auto;
  }
}
