.pokemons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  margin: auto;
}

.pokemon-card {
  width: 100%;
  margin: auto;
}

@media (min-width: 577px) {
  .pokemons {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
  }

  .pokemon-card {
    width: 12rem;
  }
}
