.pokemons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  margin: auto;
}

@media(min-width: 500px) {
  .pokemons {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
  }
}
