.star {
  margin-left: 0.5rem;
}

.compare-btn {
  background-color: var(--app-light-black);
  padding-left: 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  font-size: var(--app-fs);
  color: var(--app-white);
  cursor: pointer;
  width: 100%;
}

.compare-btn:hover {
  background-color: var(--app-dark-gray);
}

.compare-btn:active,
.compare-btn:focus {
  outline: none;
}

.content {
  padding: 0.5rem;
}

.info__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.content__img {
  image-rendering: pixelated;
  width: 100%;
}

.attributes {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
}

@media(min-width: 577px) {
  .info {
    display: flex;
    gap: 0.5rem;
  }

  .info__img {
    width: 38%;
    margin: auto;
  }

  .info__data {
    width: 60%;
  }

  .compare-btn {
    width: max-content;
  }

  .content__img {
    width: 100%;
  }
}

@media(min-width: 1000px) {
  .info__data {
    width: 60%;
  }
}
