<app-modal *ngIf="pokemon">
  <div class="header">
    <div class="header__info">
      <h2 class="header__title">{{pokemon.name | uppercase}}</h2>
      <app-favorite-btn class="star" [id]="pokemon.id" [isFavorite]="pokemon.isFavorite"></app-favorite-btn>
    </div>
    <button class="close-btn" (click)="closeParentModal()">x</button>
  </div>
  <hr class="line"/>
  <div class="content">
    <div class="info">
      <div class="info__img">
        <img class="content__img" [src]="pokemon.imageUrl" [alt]="pokemon.name">
        <button class="compare-btn" (click)="compare()">Compare to...</button>
      </div>
      <div class="info__data">
        <p>{{pokemon.description}}</p>
        <hr class="line"/>
        <div class="attributes">
          <div>
            <strong>Height</strong>
            <p>{{pokemon.height * 10}}cm</p>
          </div>
          <div>
            <strong>Weight</strong>
            <p>{{pokemon.weight * 0.1 | number:'.2'}}kg</p>
          </div>
          <div>
            <strong>Gender</strong>
            <p>{{pokemon.gender}}</p>
          </div>
        </div>
        <div class="attributes">
          <div>
            <strong>Abilities</strong>
            <ul>
              <li *ngFor="let item of pokemon.abilities">{{item.ability.name}}</li>
            </ul>
          </div>
          <div>
            <strong>Types</strong>
            <ul>
              <li *ngFor="let item of pokemon.abilities">{{item.ability.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>
  <div class="stats">
    <app-graphics [dataset]="[pokemon.statsData]"></app-graphics>
  </div>
</app-modal>
