:root {
  box-sizing: border-box;
  --app-black: rgb(40, 40, 40);
  --app-light-black: rgb(140, 140, 140);
  --app-white: rgb(255, 255, 255);
  --app-dark-gray: rgb(220, 220, 220);
  --app-gray: rgb(240, 240, 240);
  --app-orange: rgb(255, 165, 0);
  --nav-gray: rgb(240, 240, 240);
  --modal-color: rgba(150, 150, 150, 0.5);
  --app-fs: 1rem;
  --app-icons-fs: 2rem;
  --app-btn-fs: 1.5rem;
}

.header {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.header__info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.header__title {
  margin: 0.83rem 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: var(--app-btn-fs);
  color: var(--app-light-black);
  cursor: pointer;
}

.close-btn:active,
.close-btn:focus {
  outline: none;
}

.line {
  margin: 0.5rem;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--app-black);
}
