@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  box-sizing: border-box;
  --app-black: rgb(40, 40, 40);
  --app-light-black: rgb(140, 140, 140);
  --app-white: rgb(255, 255, 255);
  --app-dark-gray: rgb(220, 220, 220);
  --app-gray: rgb(240, 240, 240);
  --app-orange: rgb(255, 165, 0);
  --nav-gray: rgb(240, 240, 240);
  --modal-color: rgba(150, 150, 150, 0.5);
}

body {
  margin: 0;
}


p, a, h1, h2, h3, strong, li {
  font-family: "Roboto", sans-serif;
  color: var(--app-black);
}

.header {
  display: flex;
  padding: 0 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.header__info {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--app-light-black);
  cursor: pointer;
}
